.spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.lineContainer {
  width: 2px;
  height: 110%;
  /* background-color: #ffffff; */
  overflow: hidden;
  margin: 0 auto;
}

.line {
  width: 100%;
  height: 0%;
  background-color: var(--color-aubergine-900);
  transition: height 1.5s ease, opacity 1s ease;
  opacity: 0;
}

.grow {
  height: 100%;
  opacity: 1;
}
